<h2>Ajouter un véhicule</h2>

<form [formGroup]="vehiculeForm" (ngSubmit)="onSubmit()">
  <label>Matricule:</label>
  <input formControlName="matricule" />
  <br />

  <label>Description:</label>
  <input formControlName="description" />
  <br />

  <label>Marque:</label>
  <input formControlName="marque" />
  <br />

  <label>Disponible:</label>
  <input type="checkbox" formControlName="disponible" />
  <br />

  <label>Nombre intéressé:</label>
  <input type="number" formControlName="nbrInteresse" />
  <br />

  <button type="submit" [disabled]="vehiculeForm.invalid">Ajouter</button>
</form>
